.buttonText {
    color: black;
    font-size: 20px;
}

body, html {
    height: 100%;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerText {
    font-size: 40px;
    font-weight: bold;
    color: dodgerblue;
}

.buttonBox {
background-color: darkolivegreen;

}

.center{
    text-align:center;
}

.tableIconsCenter{

    margin:0 auto;
    margin-left: auto;
    margin-right: auto;
}

.bottom{
    position: fixed;
    bottom:0;
}
.middle{
    right: 50%;
}

.text30px{
    font-size: 30px;
}
.pictureSize{
    height:200px;
    width:200px;
}

.iconSize{
    height:30px;
    width:30px;
}